.Pics {

    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Header {

    font-size: calc(10px + 2vmin);
    color: white;
  }

  img {

    width: 500px;
    height: 100%;
    margin: 20px 20px 20px 20px;
  }